:root {
    --more--light--grey: #EBECF2;
    --pink--white: #ffc3d4;
    --light--red: #eb5858;
    --dark--red: #C10F15;
    --light--grey: #898B89;
    --pure--black: #202227;
    --light--black: #2B2C34;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
}

#navbar {
    display: flex;
    height: 63px;   
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px var(--pink--white);
    position: fixed;
    justify-content: center;
}

.navbar-left {
    height: 100%;
    width: 10%;
}

.navbar-mid-container {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-mid {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 100%;
    width: 90px;
}

.nal-item {
    text-decoration: none;
    color: black;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
    position: relative;
    transition: all 0.1s ease;
}

.nal-item:hover {
    cursor: pointer;
}
.nal-item:active {
    font-size: 15px;
}

.nal-item.selected {
    font-weight: 600;
} 

.border-slider {
    margin-left: 35.8%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.5px;
    background-color: var(--light--red);
    transition: transform 0.3s ease;
}

.navbar-right {
    height: 100%;   
    width: 20%;
}