@import url("https://fonts.googleapis.com/css?family=Mulish");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Mulish';
}

/* Color Variable */
:root {
  --main-color: ;
  --hover-color: ;
  --text-color: rgb(20, 16, 16);
  --slider-color: #eb5858;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: rgb(239, 239, 245);
    padding: 0px;
    min-width: 150px;
    margin-right: 16px;
    height: 28px;
    border: none;
    border-radius: 8px;
}

.container {
  width: 100%;
  height: 100%;
}

.body-container {
    height: 100%;
    width: 100%;
    background: white
}

.class-std-sort-container {
    margin-top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
}

/* class section */
.class-section {
    height: 30%;
    width: 100%;
    padding-top: 1.2rem;
    padding-left: 2rem;
}
.class-btn {
    background: rgb(239, 239, 245);
    padding: 0px;
    min-width: 150px;
    margin-right: 16px;
    height: 28px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(64, 61, 61);
}

.btn-active {
    background: rgb(22, 69, 158);
    color: white;
}

/* search user's classes */
.class-search {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
}

.class-search-box {
    height: 100%;
    width: 100%;
}

.search-box {
    height: 100%;
    width: 68%;
}

.class-sort {
    width: 22%;
    margin-left: 1rem;
    display: flex;
    border-radius: 6px;
}

.custom-select {
    height: 100%;
}

.select-box {
    height: 100%;
}

.select-box option {
    text-align: center;
}

.search-class-btn {
    height: 100%;
}

#search-class-btn {
    height: 100%;
    margin-left: 1rem;
    border-radius: 6px;
    border: none;
    background: rgb(73, 132, 241);
    color: #ffffff;
    padding: 0 20px 0;
    cursor: pointer;
}

/* class details */
.class-detail {
    width: 100%;
    height: 30px;
    display: flex;
    position: sticky;
    background: #EFEFF5;
    align-items: center;
}

.class-detail-left {
    width: 50%;
}

.class-detail-left p {
    padding-left: 2.5rem;
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
}

.class-detail-right {
    width: 50%;
    display: flex;
}

.class-detail-right p {
    padding: 40px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
}

.class-display-container {
    height: calc(100% - 190px);
}

.class-info-container {
    min-height: 80px;
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
}

.class-info-container:hover {
    background: rgb(239, 239, 239);
}

.class-info {
    display: flex;
    margin-left: 2rem;
    width: 50%;
}

.class-thumbnail {
    opacity: 1;
    height: 100%;
    aspect-ratio: 21 / 9;
    width: 140px;
    object-fit: cover;
}

.class-info-detail {
    padding-top: 1rem;
    margin-left: 1rem;
}

.class-edu-amount {
    max-width: calc(50% - 24px);
    display: flex;
    flex: 1 1;
}

.stats {
    width: 22%;
    left: 1.8rem;
    position: relative;
    line-height: 4;
}