/* body-container */
.body-container {
  display: flex;
  background:  #f0f2f5;
  flex: 1 1 0%;
  height: max-content;
}

.object {
  padding: 12px;
  top: 18px;
  position: relative;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin: 4px 16px 4px 4px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.aic {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.df {
  display: flex;
  justify-content: space-between;
}

.bx-check {
  color: #2962ff;
}

.object i {
  font-size: 25px;
}

.object:hover {
  background: #e0e0e0;
  border-radius: 15px;
  height: fit-content;
}

.left-menu-selected {
  background: hsla(0, 0%, 85%, 0.664);
  height: fit-content;
  border-radius: 15px;
  color: rgb(175, 43, 47);
  font-weight: 500;
}

/* Left content */
.left-side-menu {
  position: fixed;
  height: 100%;
  margin-top: 5px;
  top: 62px;
  max-width: 250px;
  width: 100%;
  background: #ffffff;
  flex-direction: column;
  display: flex;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Right content */
.right-content {
    /* background: rgb(240, 242, 245); */
    width: 40%;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden!important;
    overflow-anchor: none;
    display: flex;
    touch-action: auto;
}

/* Center content */
.center-content {
  justify-content: center;
  padding-bottom: 24px;
  background: #f0f2f5;
  flex-direction: column;
  display: flex;
  left: 18%;
  position: absolute;
  width: calc(100vw - 365px);
  top: 64px;
  border-radius: 10px;
  z-index: 11111;
}

.classroom {
  /* margin-top: 24px; */
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.title {
  margin: 0px;
  font-family: Inter, sans-serif;
  font-weight: 550;
  font-size: 1.1rem;
  line-height: 1.6;
  padding-left: 8.3rem;
  padding-bottom: 1rem;
  display: block;
  margin-top: 30px;
  /* font-weight: bold; */
}

.render {
  left: 8.2rem;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  max-width: 910px;
}

.img {
  overflow: clip;
  width: 150px;
  height: 150px;
}

.sub {
  margin-top: 16px;
  font-weight: 650 !important;
  margin: 0px;
  /* font-family: Inter, sans-serif; */
  font-weight: 350;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
